<h1>Events!!!!</h1>
<ul>
  <% @events.each do |event|  %>

    <li>
      <%= link_to event.title, event%>
      <br>
      <%= event.location %> on <%= event.date %>
      <br>
      <%=  event.snippet %>
      <br><br>
    </li>

  <% end %>
</ul>
