
 html, body{
height: 100%;
width: 100%;
position: relative;
background-image: url(
https://images.unsplash.com/photo-1445376804847-ad54874391b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80
);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
background-position: center;
z-index: -2;
 }

 .cat{
   padding: 0px;
   font-size: 10px;
   text-align: center;
   margin: auto;

 }

 .cat:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 img {
   border-radius: 50%;
 }



 /* Style the navigation bar */
 .navbar {
   width: 100%;
   background-color: RGBA(12,82,12,.5);
   overflow: auto;
   margin-bottom: 0px;
 }

 /* Navbar links */
 .nav_button {
   padding: 0;
   background: none;
   margin: 0;
   border: none;
   float: right;
   text-align: center;
   padding: 12px;
   color: white;
   text-decoration: none;
   font-size: 17px;
   cursor: pointer;
 }

 /* Navbar links on mouse-over */
 .navbar .nav_button:hover {
   background-color: #000;

 }

 /* Current/active navbar link */
 .active {
   background-color: #4CAF50;
   padding: 0;
   margin: 0;
   border: none;
   float: right;
   text-align: center;
   padding: 12px;
   color: white;
   text-decoration: none;
   font-size: 17px;
 }

/* .header {
  padding-top: 0;
  background-color: RGBA(12,82,12,.5);
  position: relative;
  margin-bottom: 30px;
  margin-top: -8px;
  margin-left: -7px;

} */

 #content-div {
   /* background-image: url("img_tree.gif"), url("paper.gif"); */
  /* position: absolute;
  padding: 25px 75px 75px 75px; */
  margin-left: 145px;
  margin-right: 145px;

 }

 .navbar {
   display: block;
 }

 .event_info{
   list-style-type: none;
   background-color: rgba(255, 255, 255, 0.5);
   overflow-y: scroll;
   max-height:  40vh;
   border-style: ridge;
 }

 h1{
   color: white;
  font-size: 3em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing: 0.2em;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-align: center;
 }

 p{
   font-family: cursive;
   margin: auto;
 }

 ul{
     overflow-y: scroll;
     max-height:  50vh;
   /* list-style-type: none;
   background-color: rgba(255, 255, 255, 0.5);
   overflow-y: scroll;
   border-style: solid ;
   border-color: #DCCCA3;
   border-radius: 0.5px;
   margin-top: 10px; */
 }


 li {
   /* font-style: italic;
   font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif; */
   padding-top: 10px;
   padding-left: 5px;
   color: #black;
   font-weight: bold;
   font-size: 13px;

    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 0.2em;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.5);

    max-height:  85vh;
    border-style: solid ;
    border-color: #DCCCA3;
    border-radius: 0.5px;
    margin-top: 10px;
 }

 footer {
  width: 100.6%;
  height: 50px;
  margin-top: auto;
  margin-left: -7px;
  margin-right: auto;
  position: absolute;
  background-color: white;
  text-align: center;
  opacity: 0.5;
  position: absolute;
  bottom: 0;

 }
