/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .cat:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .cat span {
   display: inline;
 }

 img {
   border-radius: 50%;
 }

 html {
   background-color: #f5f5dc ;
   margin: auto ;
   padding: 0;
 }

 .button_to{
      display: inline-block;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 150px;
      margin-left: 80px;
      position: relative;
 }

 input[type='submit']{
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;

   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
 }


 input{
   display: inline;
 }

#header {
  padding: 35px;
  background-color: #3d6647;
  margin : 0;

}

 #content-div {
   /* background-image: url("img_tree.gif"), url("paper.gif"); */
  position: relative;
  background-color: #B4F8C8;
  padding: 25px 50px 75px 200px;
  margin: 0;

 }

 .navbar {
   display: inline;
 }

 footer {
   padding: 35px;
   margin: 0;
   background-color: gray;
   /* background-color: RGB(153,255,237) */

 }

 h1{
   font-family: "Handlee", cursive;
   font-size: 20pt;
   color: white
   text-align: center;
   padding: 18px 0px 18px 0;
   margin: 0 0 10px 0;
 }

 p{
   font-family: cursive;
 }

 ul{
   list-style-type: none;
 }
