/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap";

 html, body{
/* overflow-x: hidden;
overflow-y: hidden; */
height: 100%;
width: 100%;
position: relative;
background-image: url(
https://images.unsplash.com/reserve/yapfjxRqy2d2rGRNc2yQ_zavrsnica-9-indie.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=932&q=80
);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
background-position: center;
z-index: -2;
 }

 a {
   color: white;
 }

 a:hover {
   color: white;
   // z-index: 2;
 }

ul {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.5);
   overflow-y: scroll;
   max-height:  50vh;
   // border-style: solid ;
   // border-color: green;
   // border-radius: 0.5px;
   // border-opacity: green;
   margin-top: 10px;
}

.container-fluid {
  background-color: rgba(255,255,255,.3);
  // background-opacity: .5;
}

.container {
  // background-color: white;
  padding: 45px;
  // opacity: .5;
  color: white;
}

.row {
  padding: 20px;
}

.col {

}

.btn btn-small {
  color: white;
}


.sub-header {
  text-align: center;
  color: white;
}

// .link {
//   color: white;
// }

// .momo {
//   border-radius: 50%;
// }

#bio {
  text-align: center;
}
