/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body{
/* overflow-x: hidden;
overflow-y: hidden; */
height: 100%;
width: 100%;
position: relative;
background-image: url(
https://images.unsplash.com/reserve/yapfjxRqy2d2rGRNc2yQ_zavrsnica-9-indie.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=932&q=80
);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
background-position: center;
z-index: -2;
 }

 .cat{
   display: inline-flex;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }

 .cat:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .cat span {
   display: inline;
 }

 img {
   border-radius: 50%;
 }



 /* Style the navigation bar */
 .navbar {
   width: 100%;
   background-color: #555;
   overflow: auto;
   margin-bottom: 0px;
 }

 /* Navbar links */
 .nav_button {
   padding: 0;
   background: none;
   margin: 0;
   border: none;
   float: right;
   text-align: center;
   padding: 12px;
   color: white;
   text-decoration: none;
   font-size: 17px;
   cursor: pointer;
 }

 /* Navbar links on mouse-over */
 .navbar .nav_button:hover {
   background-color: #000;

 }

 /* Current/active navbar link */
 .active {
   background-color: #4CAF50;
   padding: 0;
   margin: 0;
   border: none;
   float: left;
   text-align: center;
   padding: 12px;
   color: white;
   text-decoration: none;
   font-size: 17px;
 }

#header {
  padding-top: 0;
  background-color: #3d6647;
  opacity: 0.7;
  position: relative;
  margin-bottom: 300px;
  margin-top: -8px;
  margin-left: -7px;

}

 #content-div {
   /* background-image: url("img_tree.gif"), url("paper.gif"); */
  position: relative;
  padding: 25px 50px 75px 50px;
  margin-top: -290px;

 }

 .navbar {
   display: block;
 }

 .event_info{
   list-style-type: none;
   background-color: rgba(255, 255, 255, 0.5);
   overflow-y: scroll;
   max-height:  40vh;
   border-style: ridge;
 }

 h1{
   color: white;
  font-size: 3em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing: 0.2em;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-align: center;
 }

 p{
   font-family: cursive;
 }

 ul{
   list-style-type: none;
   background-color: rgba(255, 255, 255, 0.5);
   overflow-y: scroll;
   max-height:  85vh;
   border-style: solid ;
   border-color: #DCCCA3;
   border-radius: 0.5px;
   margin-top: 10px;
 }


 li {
   /* font-style: italic;
   font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif; */
   padding-top: 10px;
   color: black;
   font-size: 1.2em;
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    letter-spacing: 0.2em;
 }

 footer {
  width: 100.6%;
  height: 81px;
  margin-top: auto;
  margin-left: -7px;
  margin-right: auto;
  position: absolute;
  background-color: white;
  text-align: center;
  opacity: 0.5;

 }
